<!-- inherits from/adds onto the base.html file -->
{% extends "polls/base.html" %}

<!-- Fills the <title> tag from base.html with "My Blog" -->
{% block title %}Django Practice{% endblock%}

<!-- Body -->
{% block content %}
	<header>
		<h1>Polls</h1>
	</header>

	<section>
		<aside>
		  <nav>
		    <ul>
		        <div>
		            <li><a href="{% url 'home:index' %}">Home</a></li>
		        </div>
		    </ul>
		  </nav>
		</aside>
		
		<article>
			<h1>Poll Questions:</h1>

			{% if latest_question_list %}
			    <ul>
			    {% for question in latest_question_list %}
			       <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
			    {% endfor %}
			    </ul>
			{% else %}
			    <p>No polls are available.</p>
			{% endif %}
		</article>
	</section>
	
	<footer>
	  <p>This is the footer of the page</p>
	</footer>
{% endblock %}
